<section class="p-itemdetail detail-bottom">
  <div class="inner">

    {% assign recommend_item = product.metafields.custom._recommend %}
    {%-  if recommend_item != blank -%}

      <div class="item-recommend_wrap">

        <div class="head-ttl fadeIn">
          <h2>あなたにおすすめ</h2>
          <p class="sub-ttl">Recommend for you</p>
        </div><!-- /.head-ttl -->

        <div class="recommend_swiper">

          <div class="flex swiper-wrapper">

            {%- for product in recommend_item.value limit: 5  -%}
              <div class="item-card swiper-slide">
                <a class="h-scale" href="{{ product.url }}">
                  <div class="img-box obj-fit">
                    <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="">
                  </div>
                  <p class="cate">
                    {% for collection in product.collections %}
                      {% assign excluded_collections = 'all,tax,recommend' | split: ',' %}
                      {% comment %} {% unless excluded_collections contains collection.handle %} {% endcomment %}
                      {% unless excluded_collections contains collection.handle or collection.handle contains 'price' %}
                        {{ collection.title }}
                      {% endunless %}
                    {% endfor %}
                  </p>
                  <p class="name">{{ product.title }}</p>
                  <p class="price">{{ product.price | money }}円(税込)</p>
                </a>
                <div class="add-cart">
                  <button type="button" class="add-to-cart-btn cart-btn" data-variant-id="{{ product.variants.first.id }}">
                    カートに入れておく
                  </button>
                </div><!-- /.add-cart -->
              </div><!-- /.item-card -->
            {% endfor %}
            <script>
              document.addEventListener('DOMContentLoaded', function() {
                var addToCartButtons = document.querySelectorAll('.add-to-cart-btn');
                addToCartButtons.forEach(function(button) {
                  button.addEventListener('click', function() {
                    var variantId = this.getAttribute('data-variant-id');
                    var quantity = 1; 
                    fetch('/cart/add.js', {
                      method: 'POST',
                      headers: {
                        'Content-Type': 'application/json'
                      },
                      body: JSON.stringify({
                        items: [{
                          id: variantId,
                          quantity: quantity
                        }]
                      })
                    })
                    .then(response => response.json())
                    .then(data => {
                      console.log('商品がカートに追加されました', data);
                      alert('商品がカートに追加されました！');
                    })
                    .catch(error => {
                      console.error('カートへの追加に失敗しました。', error);
                      alert('カートへの追加に失敗しました。');
                    });
                  });
                });
              });
            </script>

          </div><!-- /.swipper-wrapper -->

          <div class="swiper-scrollbar"></div>

        </div><!-- /.recommend_swiper -->

      </div><!-- /.item-recommend_wrap-->

    {%- endif -%}

  </div><!-- /.inner -->
</section><!-- /.p-itemlis -->

{% render 'inc-common02' %}

{% render 'inc-common01' %}



{% schema %}
  {
    "name": "item-detail-bottom",
    "presets": [
      {
        "name": "item-detail-bottom"
      }
    ]
  }
{% endschema %}