<div class="under-mv obj-fit">
  <picture>
    <source srcset="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-under_mv.jpg" media="(max-width: 769px)">
    <img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-under_mv.jpg" alt="">
  </picture>
  <div class="ttl">
    <h2>商品一覧-{{ collection.title }}</h2>
    <p class="sub-ttl">LINE UP</p>
  </div><!-- /.ttl -->
  <div class="ashirai">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/under-mv_ashirai_sp.svg" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/under-mv_ashirai.svg" alt="">
    </picture>
  </div>
</div><!-- /.under-mv-->

<section class="p-itemlist">
  <div class="inner">

    <div class="cate_wrap">
      <ul class="flex">
        <li class="fadeIn">
          <a {% if request.path contains 'seagrape' %}class="active"{% endif %} href="/collections/seagrape/">
            <img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/to-category_img01.png" alt="">
            海ぶどう
          </a>
        </li>
        <li class="fadeIn">
          <a {% if request.path contains 'set' %}class="active"{% endif %} href="/collections/set/">
            <img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/to-category_img01.png" alt="">
            セット
          </a>
        </li>
        <li class="fadeIn">
          <a {% if request.path contains 'other' %}class="active"{% endif %} href="/collections/other/">
            <img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/to-category_img01.png" alt="">
            その他
          </a>
        </li>
      </ul>
    </div><!-- /.cate_wrap -->


    <div class="itemlist_wrap flex">

      {% assign has_products = false %}

      {% for product in collection.products %}

        {% assign has_products = true %}

        <div class="item-card fadeIn">
          <a class="h-scale" href="{{ product.url }}">
            <div class="img-box obj-fit">
              <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="">
            </div>
            <p class="cate">
              {% for collection in product.collections %}
                {% assign excluded_collections = 'all,tax,recommend' | split: ',' %}
                {% unless excluded_collections contains collection.handle %}
                  {{ collection.title }}
                {% endunless %}
              {% endfor %}
            </p>
            <p class="name">{{ product.title }}</p>
            <p class="price">{{ product.price | money }}円(税込)</p>
          </a>
          <div class="add-cart">
            <form action="/cart/add" method="post">
              <div class="add-cart">
                <button type="button" class="add-to-cart-btn cart-btn" data-variant-id="{{ product.variants.first.id }}">
                  カートに入れておく
                </button>
              </div><!-- /.add-cart -->
            </form>
          </div><!-- /.add-cart -->
        </div><!-- /.item-card -->

      {% endfor %}
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          var addToCartButtons = document.querySelectorAll('.add-to-cart-btn');
          addToCartButtons.forEach(function(button) {
            button.addEventListener('click', function() {
              var variantId = this.getAttribute('data-variant-id');
              var quantity = 1; 
              fetch('/cart/add.js', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                  items: [{
                    id: variantId,
                    quantity: quantity
                  }]
                })
              })
              .then(response => response.json())
              .then(data => {
                console.log('商品がカートに追加されました', data);
                alert('商品がカートに追加されました！');
              })
              .catch(error => {
                console.error('カートへの追加に失敗しました。', error);
                alert('カートへの追加に失敗しました。');
              });
            });
          });
        });
      </script>
      
    </div><!-- /.itemlist_wrap -->

    {% unless has_products %}
      <p class="unless-has">該当する商品がありません。</p>
    {% endunless %}

  </div><!-- /.inner -->
</section><!-- /.p-itemlis -->

{% render 'inc-common02' %}

{% render 'inc-common01' %}

{% schema %}
  {
    "name": "item-list",
    "presets": [
      {
        "name": "item-list"
      }
    ]
  }
{% endschema %}