<section class="p-itemdetail detail-bottom">
  <div class="inner">

    {% assign recommend_item = product.metafields.custom._recommend %}
    {%-  if recommend_item != blank -%}

      <div class="item-recommend_wrap">

        <div class="head-ttl fadeIn">
          <h2>あなたにおすすめ</h2>
          <p class="sub-ttl">Recommend for you</p>
        </div><!-- /.head-ttl -->

        <div class="recommend_swiper">

          <div class="flex swiper-wrapper">

            {%- for product in recommend_item.value limit: 5  -%}
              <div class="item-card swiper-slide">
                <a class="h-scale" href="{{ product.url }}">
                  <div class="img-box obj-fit">
                    <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="">
                  </div>
                  <p class="cate">
                    {% for collection in product.collections %}
                      {% assign excluded_collections = 'all,tax,recommend' | split: ',' %}
                      {% comment %} {% unless excluded_collections contains collection.handle %} {% endcomment %}
                      {% unless excluded_collections contains collection.handle or collection.handle contains 'price' %}
                        {{ collection.title }}
                      {% endunless %}
                    {% endfor %}
                  </p>
                  <p class="name">{{ product.title }}</p>
                  <p class="price">{{ product.price | money }}円(税込)</p>
                </a>
                <div class="add-cart">
                  <button type="button" class="add-to-cart-btn cart-btn" data-variant-id="{{ product.variants.first.id }}">
                    カートに入れておく
                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M18.002 18C18.5987 18 19.171 18.2371 19.5929 18.659C20.0149 19.081 20.252 19.6533 20.252 20.25C20.252 20.8467 20.0149 21.419 19.5929 21.841C19.171 22.2629 18.5987 22.5 18.002 22.5C17.4052 22.5 16.8329 22.2629 16.411 21.841C15.989 21.419 15.752 20.8467 15.752 20.25C15.752 19.0012 16.7532 18 18.002 18ZM0.00195312 0H3.6807L4.7382 2.25H21.377C21.6753 2.25 21.9615 2.36853 22.1724 2.57951C22.3834 2.79048 22.502 3.07663 22.502 3.375C22.502 3.56625 22.4457 3.7575 22.367 3.9375L18.3395 11.2163C17.957 11.9025 17.2145 12.375 16.3707 12.375H7.98945L6.97695 14.2088L6.9432 14.3438C6.9432 14.4183 6.97283 14.4899 7.02558 14.5426C7.07832 14.5954 7.14986 14.625 7.22445 14.625H20.252V16.875H6.75195C6.15522 16.875 5.58292 16.6379 5.16096 16.216C4.73901 15.794 4.50195 15.2217 4.50195 14.625C4.50195 14.2313 4.6032 13.86 4.77195 13.545L6.30195 10.7888L2.25195 2.25H0.00195312V0ZM6.75195 18C7.34869 18 7.92099 18.2371 8.34294 18.659C8.7649 19.081 9.00195 19.6533 9.00195 20.25C9.00195 20.8467 8.7649 21.419 8.34294 21.841C7.92099 22.2629 7.34869 22.5 6.75195 22.5C6.15522 22.5 5.58292 22.2629 5.16096 21.841C4.73901 21.419 4.50195 20.8467 4.50195 20.25C4.50195 19.0012 5.5032 18 6.75195 18ZM16.877 10.125L20.0045 4.5H5.78445L8.43945 10.125H16.877Z" fill="white"/>
                    </svg>
                  </button>
                </div><!-- /.add-cart -->
              </div><!-- /.item-card -->
            {% endfor %}
            <script>
              document.addEventListener('DOMContentLoaded', function() {
                var addToCartButtons = document.querySelectorAll('.add-to-cart-btn');
                addToCartButtons.forEach(function(button) {
                  button.addEventListener('click', function() {
                    var variantId = this.getAttribute('data-variant-id');
                    var quantity = 1; 
                    fetch('/cart/add.js', {
                      method: 'POST',
                      headers: {
                        'Content-Type': 'application/json'
                      },
                      body: JSON.stringify({
                        items: [{
                          id: variantId,
                          quantity: quantity
                        }]
                      })
                    })
                    .then(response => response.json())
                    .then(data => {
                      console.log('商品がカートに追加されました', data);
                      alert('商品がカートに追加されました！');
                    })
                    .catch(error => {
                      console.error('カートへの追加に失敗しました。', error);
                      alert('カートへの追加に失敗しました。');
                    });
                  });
                });
              });
            </script>

          </div><!-- /.swipper-wrapper -->

          <div class="swiper-scrollbar"></div>

        </div><!-- /.recommend_swiper -->

      </div><!-- /.item-recommend_wrap-->

    {%- endif -%}

  </div><!-- /.inner -->
</section><!-- /.p-itemlis -->

{% render 'inc-common02' %}

{% render 'inc-common01' %}



{% schema %}
  {
    "name": "item-detail-bottom",
    "presets": [
      {
        "name": "item-detail-bottom"
      }
    ]
  }
{% endschema %}