<!-- メインビジュアル -->
<div class="mv">
  <div class="mv-swiper">
    <div class="swiper-wrapper">

      <div class="swiper-slide img-box obj-fit mv01">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/mv01_sp.png" media="(max-width: 769px)">
          <img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/mv01.jpg" alt="">
        </picture>
      </div><!-- /.swiper-slide -->

      <div class="swiper-slide img-box obj-fit mv02">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/mv01_sp.png" media="(max-width: 769px)">
          <img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/mv01.jpg" alt="">
        </picture>
      </div><!-- /.swiper-slide -->

      <div class="swiper-slide img-box obj-fit mv03">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/mv01_sp.png" media="(max-width: 769px)">
          <img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/mv01.jpg" alt="">
        </picture>
      </div><!-- /.swiper-slide -->

    </div><!-- /.swiper-wrapper -->
  </div><!-- /.mv-swiper -->
  <div class="mv-catchcopy img-box"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/mv-text01.svg" alt=""></div><!-- /.mv-catchcopy -->
  <div class="mv-pickup img-box anime-huwa">
    <a href="{{ section.settings.link_pickup }}">
      <img src="{{ section.settings.image_recommend_pc | img_url: 'master' }}" alt="">
    </a>
  </div><!-- /.mv-pickup -->
  <div class="ashirai img-box"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/top-mv_asirai.svg" alt=""></div>
</div><!-- /.mv -->

<section class="p-top_wrap01">

  {% render 'top-header' %}

  <div class="inner">

    {% if section.settings.image_banner_pc %}
    <div class="top-banner radius fadeIn">
      <a href="{{ section.settings.link_banner }}">
        <picture>
          <source srcset="{{ section.settings.image_banner_sp | img_url: 'master' }}" media="(max-width: 769px)">
          <img src="{{ section.settings.image_banner_pc | img_url: 'master' }}" alt="">
        </picture>
      </a>
    </div><!-- /.banner -->
    {% endif %}


    <div class="block flex">
      <div class="left flex">
        <div class="img-box obj-fit fadeIn"><img class="radius" src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/top-about_img01.jpg" alt=""></div>
        <div class="img-box obj-fit fadeIn"><img class="radius" src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/top-about_img02.jpg" alt=""></div>
      </div><!-- /.left -->
      <div class="right fadeIn">
        <p class="sub-ttl">ABOUT US</p>
        <h2>
          旬の海ぶどうや<br>
          沖縄の美味しいものを<br>
          全国にお届けしています
        </h2>
        <p>
          みき屋は昭和23年から沖縄の台所である<br>
          那覇市第一牧志公設市場を拠点に<br>
          県内外450店舗以上の飲食店へ向け<br>
          厳選した沖縄食材をお届けしております。
        </p>
        <div class="btn-wrap"><a href="/pages/about/" class="btn01">海ぶどう市場について</a></div><!-- /.btn-wrap -->
      </div><!-- /.right -->
    </div><!-- /.block -->
  </div><!-- /.inner-->
</section><!-- /.p-top_wrap01 -->

<section class="p-top_wrap02">
  <div class="inner">
    <div class="head-ttl fadeIn">
      <h2>スタッフのおすすめ</h2>
      <p class="sub-ttl">Recommend</p>
    </div><!-- /.head-ttl -->

      <div class="recommend_swiper">

        <div class="flex swiper-wrapper">

        {% for product in collections.recommend.products limit: 5 %}
          <div class="item-card swiper-slide">
            <a class="h-scale" href="{{ product.url }}">
              <div class="img-box obj-fit">
                <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="">
              </div>
              <p class="cate">
                {% for collection in product.collections %}
                  {% assign excluded_collections = 'all,tax,recommend' | split: ',' %}
                  {% unless excluded_collections contains collection.handle %}
                    {{ collection.title }}
                  {% endunless %}
                {% endfor %}
              </p>
              <p class="name">{{ product.title }}</p>
              <p class="price">{{ product.price | money }}円(税込)</p>
            </a>
            <div class="add-cart">
              <button type="button" class="add-to-cart-btn cart-btn" data-variant-id="{{ product.variants.first.id }}">
                カートに入れておく
                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18.002 18C18.5987 18 19.171 18.2371 19.5929 18.659C20.0149 19.081 20.252 19.6533 20.252 20.25C20.252 20.8467 20.0149 21.419 19.5929 21.841C19.171 22.2629 18.5987 22.5 18.002 22.5C17.4052 22.5 16.8329 22.2629 16.411 21.841C15.989 21.419 15.752 20.8467 15.752 20.25C15.752 19.0012 16.7532 18 18.002 18ZM0.00195312 0H3.6807L4.7382 2.25H21.377C21.6753 2.25 21.9615 2.36853 22.1724 2.57951C22.3834 2.79048 22.502 3.07663 22.502 3.375C22.502 3.56625 22.4457 3.7575 22.367 3.9375L18.3395 11.2163C17.957 11.9025 17.2145 12.375 16.3707 12.375H7.98945L6.97695 14.2088L6.9432 14.3438C6.9432 14.4183 6.97283 14.4899 7.02558 14.5426C7.07832 14.5954 7.14986 14.625 7.22445 14.625H20.252V16.875H6.75195C6.15522 16.875 5.58292 16.6379 5.16096 16.216C4.73901 15.794 4.50195 15.2217 4.50195 14.625C4.50195 14.2313 4.6032 13.86 4.77195 13.545L6.30195 10.7888L2.25195 2.25H0.00195312V0ZM6.75195 18C7.34869 18 7.92099 18.2371 8.34294 18.659C8.7649 19.081 9.00195 19.6533 9.00195 20.25C9.00195 20.8467 8.7649 21.419 8.34294 21.841C7.92099 22.2629 7.34869 22.5 6.75195 22.5C6.15522 22.5 5.58292 22.2629 5.16096 21.841C4.73901 21.419 4.50195 20.8467 4.50195 20.25C4.50195 19.0012 5.5032 18 6.75195 18ZM16.877 10.125L20.0045 4.5H5.78445L8.43945 10.125H16.877Z" fill="white"/>
                </svg>
              </button>
            </div><!-- /.add-cart -->
          </div><!-- /.item-card -->
        {% endfor %}
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            var addToCartButtons = document.querySelectorAll('.add-to-cart-btn');
            addToCartButtons.forEach(function(button) {
              button.addEventListener('click', function() {
                var variantId = this.getAttribute('data-variant-id');
                var quantity = 1; 
                fetch('/cart/add.js', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                    items: [{
                      id: variantId,
                      quantity: quantity
                    }]
                  })
                })
                .then(response => response.json())
                .then(data => {
                  console.log('商品がカートに追加されました', data);
                  alert('商品がカートに追加されました！');
                })
                .catch(error => {
                  console.error('カートへの追加に失敗しました。', error);
                  alert('カートへの追加に失敗しました。');
                });
              });
            });
          });
        </script>

        </div><!-- /.swipper-wrapper -->

        <div class="swiper-scrollbar"></div>

      </div><!-- /.top-recommend_swiper -->


    <div class="btn-wrap fadeIn"><a href="/collections/all/" class="btn01">商品一覧を見る</a></div><!-- /.btn-wrap -->

  </div><!-- /.inner -->
</section><!-- /.p-top_wrap02 -->

<div class="sec01">
  <div class="flex">
    <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/top-secimg01.jpg" alt=""></div><!-- /.img-box -->
    <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/top-secimg02.jpg" alt=""></div><!-- /.img-box -->
  </div><!-- /.flex -->
</div>

<section class="p-top_wrap03">
  <div class="inner">
    <div class="head-ttl fadeIn">
      <h2>カテゴリ</h2>
      <p class="sub-ttl">Category</p>
    </div><!-- /.head-ttl -->
    <div class="flex">
      <div class="box fadeIn">
        <a href="/collections/seagrape/" class="h-scale">
          <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/to-category_img01.png" alt=""></div>
          <p>海ぶどう</p>
        </a>
      </div><!-- /.box -->
      <div class="box fadeIn">
        <a href="/collections/set/" class="h-scale">
          <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/to-category_img01.png" alt=""></div>
          <p>セット</p>
        </a>
      </div><!-- /.box -->
      <div class="box fadeIn">
        <a href="/collections/other/" class="h-scale">
          <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/to-category_img01.png" alt=""></div>
          <p>その他</p>
        </a>
      </div><!-- /.box -->
    </div>
    <div class="btn-wrap"><a href="/collections/all/" class="btn01">商品一覧を見る</a></div><!-- /.btn-wrap -->
  </div><!-- /.inner -->
</section><!-- /.p-top_wrap03 -->

<div class="sec02 img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/top-secimg03.jpg" alt=""></div>

<section class="p-top_wrap04">
  <div class="inner">
    <div class="head-ttl fadeIn">
      <h2>よくあるご質問</h2>
      <p class="sub-ttl">FAQ</p>
    </div><!-- /.head-ttl -->
    <div class="flex">
      <div class="box fadeIn">
        <a href="/pages/faq#order"><p>注文・支払いについて</p></a>
      </div>
      <div class="box fadeIn">
        <a href="/pages/faq#shipping"><p>配送・送料について</p></a>
      </div>
      <div class="box fadeIn">
        <a href="/pages/faq#return"><p>返品・交換について</p></a>
      </div>
    </div>
  </div>
</section><!-- /.p-top_wrap04 -->


<section class="p-top_wrap05">
  <div class="flex">
    <div class="left">
      <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/top-storeinfo_img01.jpg" alt=""></div>
    </div>
    <div class="right">
      <div class="block fadeIn">
        <div class="head-ttl">
          <h2>直売店</h2>
          <p class="sub-ttl">Shop</p>
        </div><!-- /.head-ttl -->
        <table>
          <tr>
            <th>住所</th>
            <td>〒900-0014 那覇市松尾2-7-10 2F</td>
          </tr>
          <tr>
            <th>TEL</th>
            <td>098-866-3654</td>
          </tr>
          <tr>
            <th>営業時間</th>
            <td>9:30〜18:30</td>
          </tr>
          <tr>
            <th>定休日</th>
            <td>日曜日</td>
          </tr>
        </table>
        <p>※営業時間、定休日につきましては急遽変更になる場合がございます。電話連絡にてご確認ください。</p>
        <div class="map-wrap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3579.444562541128!2d127.6846578755712!3d26.214740877069996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34e56970a54cf627%3A0x1e1a80d3ee9845b4!2z44CSOTAwLTAwMTQg5rKW57iE55yM6YKj6KaH5biC5p2-5bC-77yS5LiB55uu77yX4oiS77yR77yQ!5e0!3m2!1sja!2sjp!4v1718165840537!5m2!1sja!2sjp" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>         </div>
    </div>
  </div>
</section><!-- /.p-top_wrap05 -->

{% render 'inc-common01' %}



{% schema %}
  {
    "name": "top-main",
    "presets": [
      {
        "name": "top-main"
      }
    ],
    "settings": [
      {
        "type": "image_picker",
        "id": "image_recommend_pc",
        "label": "PickUp画像"
      },
      {
        "type": "url",
        "id": "link_pickup",
        "label": "PickUpリンク"
      },
      {
        "type": "image_picker",
        "id": "image_banner_pc",
        "label": "バナーPC画像"
      },
      {
        "type": "image_picker",
        "id": "image_banner_sp",
        "label": "バナーSP画像"
      },
      {
        "type": "url",
        "id": "link_banner",
        "label": "バナーリンク"
      }
    ]
  }
{% endschema %}